.container{
  padding: 60px;
  min-height: 80vh;
}

.beneficios{
  /* max-width: 1800px; */
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(82, 82, 82);
}

.card{
  padding: 15px;
  margin: 15px;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card h2{
  margin: 20px;
  font-size: 40px;
}